.top-news .expert-top-news {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  padding: 21px 0 14px;
  color: #000;
  position: relative;
}

.top-news .expert-top-news .spinner-layout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.top-news .expert-top-news .spinner-border {
  top: calc(50% - 1rem);
}

.top-news.inner-container {
  padding-left: 0;
  padding-right: 0;
}

.top-news .news-block-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.top-news .hint-text {
  width: 106px;
  font-size: 10px;
  padding-right: 0;
  padding-left: 68px;
  color: #222222;
  align-self: flex-end;
}

.top-news .news-block-header h2 {
  position: relative;
  font-size: 24px;
  padding-bottom: 23px;
  margin-top: 41px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}

.top-news .news-block-header h2:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 120px;
  height: 2px;
  background-color: #000000;
}

.top-news h2.retweeted-news-title {
  margin-top: 80px;
}

.top-news .expert-top-news button {
  background-color: #d0021b !important;
  color: #ffffff !important;
  border: solid 2px #d0021b !important;
  padding: 5px 0 !important;
  width: 106px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  border-radius: 0;
}

.top-news .expert-top-news button.not-fake {
  border: 2px solid #d0021b;
  background-color: #ffffff !important;
  color: #d0021b !important;
}

.top-news .mark-fake-button {
  text-align: right;
  padding-right: 0;
}

.top-news .expert-top-news span {
  font-size: 18px;
  padding: 0;
}

.top-news .top-news-container .see-all {
  min-width: 83px;
  height: 24px;
  border: solid 2px #000;
  color: #000;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.top-news .expert-top-news img {
  margin-right: 16px;
}

.top-news .news-text {
  display: flex;
  padding-left: 0;
}
.top-news .user-avatar {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
