.top-mentioned-trolls {
  width: 1180px;
  margin: 0 auto;
}

.top-mentioned-trolls .user-row {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.12);
  height: 100px;
  cursor: pointer;
}

.top-mentioned-trolls .user-avatar {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-top: 15px;
  vertical-align: middle;
  border-style: none;
}

.top-mentioned-trolls .user-name {
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  height: 22px;
  margin: 20px 0 0 16px;
}

.top-mentioned-trolls .user-nickname {
  height: 22px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 6px 0 0 16px
}

.top-mentioned-trolls .slick-slider {
  position: relative;
  height: auto;
}

.top-mentioned-trolls .slick-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  height: auto;
  width: auto;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  transform: none;
  color: #ffffff;
  z-index: 10;
}

.top-mentioned-trolls .users-container:hover .slick-arrow {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-mentioned-trolls .slick-prev {
  top: 0;
}

.top-mentioned-trolls .slick-prev:before {
  display: none;
}

.top-mentioned-trolls .slick-next {
  bottom: 0;
}

.top-mentioned-trolls .slick-next:before {
  display: none;
}

.top-mentioned-trolls .accountSection {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.12);
  margin-top: 0;
}

.top-mentioned-trolls .user-row.isSelected {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

.top-mentioned-trolls .btnTweets {
  width: 56px;
  height: 35px;
  flex: 0 0 56px;
}

.top-mentioned-trolls .btnFollowers {
  width: 67px;
  height: 35px;
  flex: 0 0 67px;
}

.top-mentioned-trolls .buttonsTweetFollowers {
  border-radius: 3px;
  background-color: #e0e0e0;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: -0.09px;
  color: #000000;
  font-weight: 900;
  margin-right: 10px;
  padding: 5px;
}

.top-mentioned-trolls .btnFakeNews {
  flex: 0 0 75px;
  width: 75px;
  height: 35px;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: -0.09px;
  color: #ffffff;
  font-weight: 900;
  padding: 5px;
  background-color: #d0021b;
}

.top-mentioned-trolls .buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 0;
  padding-top: 24px;
}

.top-mentioned-trolls .tweet-meta {
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #42576a;
}

.top-mentioned-trolls .tweets-list {
  margin: 5px;
  padding: 19px 43px;
  display: flex;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.16);
  flex-direction: column;
  color: #000;
}

.top-mentioned-trolls .section-content {
  padding-left: 0;
  padding-right: 0;
}

.top-mentioned-trolls .tweet-body a {
  color: #000000;
}

.top-mentioned-trolls .tweet-row {
  padding: 26px 0 17px;
  border-bottom: 1px solid #e1e1e1;
}
