.top-mentioned-users-re-tweets {
  position: relative;
  margin: 80px auto 0;
  padding: 0;
}

.top-mentioned-users-re-tweets .spinner-layout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.top-mentioned-users-re-tweets .spinner-layout .spinner-border {
  position: static !important;
  top: auto;
  left: auto;
}

.top-mentioned-users-re-tweets .section-content {
  padding-left: 0;
  padding-right: 0;
}

.top-mentioned-users-re-tweets .container-heading {
  margin-top: -14px;
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}

.top-mentioned-users-re-tweets .users-container-wrapper {
  margin-top: 7px;
}

.top-mentioned-users-re-tweets .container-heading div {
  padding-right: 40px;
  text-align: right;
}

.top-mentioned-users-re-tweets .slick-slider {
  position: relative;
}

.top-mentioned-users-re-tweets .slick-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  height: auto;
  width: auto;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  transform: none;
  color: #ffffff;
  z-index: 10;
}

.top-mentioned-users-re-tweets .users-container-wrapper:hover .slick-arrow {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-mentioned-users-re-tweets .slick-prev {
  top: 0;
}

.top-mentioned-users-re-tweets .slick-prev:before {
  display: none;
}

.top-mentioned-users-re-tweets .slick-next {
  bottom: 0;
}

.top-mentioned-users-re-tweets .slick-next:before {
  display: none;
}

.top-mentioned-users-re-tweets .user-row {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.12);
}

.top-mentioned-users-re-tweets .user-row.isSelected {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

.top-mentioned-users-re-tweets .user-row + .user-row {
  margin-top: 10px;
}

.top-mentioned-users-re-tweets .user-selection:hover {
  cursor: pointer;
}

.top-mentioned-users-re-tweets .switch-user {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

.top-mentioned-users-re-tweets .user-avatar {
  min-width: 60px;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.top-mentioned-users-re-tweets .user-avatar-col {
  width: 60px;
  flex-basis: 76px;
}

.top-mentioned-users-re-tweets .user-name {
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 6px;
}

.top-mentioned-users-re-tweets .user-nickname {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.top-mentioned-users-re-tweets .mark-fake {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d0021b !important;
  color: #ffffff !important;
  border: solid 2px #d0021b !important;
  border-radius: 0;
  padding: 5px 0 !important;
  margin-top: 1px;
  width: 106px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.top-mentioned-users-re-tweets .mark-fake .check-icon {
  margin-right: 9px;
}

.top-mentioned-users-re-tweets .mark-fake.isFake {
  background-color: #ffffff !important;
  color: #d0021b !important;
}

.top-mentioned-users-re-tweets .tweets-layout {
  position: relative;
}

.top-mentioned-users-re-tweets .tweets-list {
  margin: 5px;
  padding: 19px 43px;
  display: flex;
  width: 100%;
  height: 360px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.16);
  flex-direction: column;
  color: #000;
}

.top-mentioned-users-re-tweets .tweet {
  padding: 26px 0 17px;
  border-bottom: 1px solid #e1e1e1;
}

.top-mentioned-users-re-tweets .tweet:first-child {
  padding-top: 0;
}
