* {
   margin: 0;
   padding: 0;
}

.topTrollsContainer {
   width: 1180px;
   margin: 60px auto 0;
}

.topTrollsWrapper {
   width: 100%;
   height: 515px;
   display: flex;
}

.topTrollsAccounts {
   width: 50%;
   height: 100%;
}