* {
   margin: 0;
   padding: 0;
}

.topTrollsContainer {
   width: 1180px;
   margin: 60px auto 0;
}

.topTrollsWrapper {
   width: 100%;
   height: 530px;
   display: flex;
   justify-content: space-between;
}

.topTrollsSection {
   width: 44.5%;
   height: 100%;
}

.topTrollsSectionCharts {
   width: 50%;
   height: 100%;
}

.topTrollsSectionBlock {
   width: 100%;
   height: 50%;
   display: flex;
}

.topTrollsSectionAge {
   width: 100%;
   height: 38%;
}

.topTrollsCharts {
   height: 100%;
   width: 50%;
}

.topTrollsWorldHeader {
   font-size: 16px;
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #030303;
}

.topTrollsAgeHeader {
   font-size: 16px;
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #030303;
   margin-top: 50px;
}