* {
   margin: 0;
   padding: 0;
}

.topMentionedUsersContainer {
   width: 1180px;
   margin: 0 auto;
}

.topMentionedUsersWrapper {
   width: 100%;
   height: 530px;
   display: flex;
   justify-content: space-between;
}

.topMentionedUsersAccounts {
   width: 44.5%;
   height: 100%;
}

.topMentionedUsersPopup {
   width: 50%;
   height: 100%;
}