* {
   margin: 0;
   padding: 0;
}

.accountSection {
   margin-top: 20px;
   height: 82px;
   width: 100%;
   box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}

.imageNameSection {
   width: 58%;
   height: 100%;
   display: flex;
}

.buttonsSection {
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.userImage {
   margin-top: 15px;
   width: 60px;
   height: 60px;
   border-radius: 100px;
}

.userInformWrapper {
   display: flex;
   flex-direction: column;
}

.userNickname {
   font-size: 18px;
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000000;
   height: 22px;
   margin: 20px 0 0 16px;
}

.userAccount {
   height: 22px;
   font-size: 18px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000000;
   margin: 6px 0 0 16px;
}

.buttonsTweetFollowers {
   border-radius: 3px;
   background-color: #e0e0e0;
   border: none;
   font-size: 12px;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.08;
   letter-spacing: -0.09px;
   color: #000000;
   font-weight: 900;
}

.btnTweets {
   width: 56px;
   height: 35px;
}

.btnFollowers {
   width: 67px;
   height: 35px;
}

.btnFakeNews {
   width: 75px;
   height: 35px;
   border-radius: 3px;
   border: none;
   font-size: 12px;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.08;
   letter-spacing: -0.09px;
   color: #ffffff;
   font-weight: 900;
}

.btnFakeNewsGreen {
   background-color: #7dbb3a;
}

.btnFakeNewsOrange {
   background-color: #df7600;
}

.btnFakeNewsRed {
   background-color: #d0021b;
}