* {
   margin: 0;
   padding: 0;
}

.hashtagsWrapper {
   width: 100%;
   height: 602px;
   background-color: #ffffff;
}

.titleWrapper {
   margin-left: 152px;
   width: 50%;
   height: 55px;
   position: relative;
   top: 66px;
}