* {
   margin: 0;
   padding: 0;
}

.hashtagsWrapper {
   width: 100%;
   height: 602px;
   background-color: #ffffff;
}

.titleWrapper {
   max-width: 1440px;
   padding-left: 130px;
   margin: 0 auto;
   height: 55px;
   position: relative;
   top: 66px;
}

.wordsGraphicsWrapper {
   margin: 0 auto;
   max-width: 1440px;
   padding: 0 80px 0 80px;
   height: 401px;
   position: relative;
   top: 80px;
   display: flex;
}

.wordsWrapper {
   width: 48.5%;
   height: 100%;
}


.wordsChartWrapper {
   width: 48.5%;
   height: 100%;
}

.maskCopyright {
   width: 66px;
   height: 5%;
   position: absolute;
   background-color: #ffffff;
   z-index: 2;
   bottom: 0;
}

.lineHorizontalSeparator {
   position: absolute;
   top: 50%;
   left: 43%;
   width: 5.7%;
   border-top: 2px solid black;
   z-index: 2;
}

.lineSeparator {
   width: 1%;
   height: 100%;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   border-left: 2px solid black;
}