* {
   margin: 0;
   padding: 0;
}

.hashtagsWrapper {
  width: 1136px;
  margin: 0 auto;
  min-height: 602px;
  background-color: #ffffff;
}

.titleWrapper {
   max-width: 1180px;
   margin: 0 auto;
   height: 55px;
   position: relative;
   top: 66px;
}

.wordsGraphicsWrapper {
   margin: 0 auto;
   max-width: 1180px;
   height: 401px;
   position: relative;
   top: 80px;
   display: flex;
}

.wordsWrapper {
   width: 48.5%;
   height: 100%;
}


.wordsChartWrapper {
   width: 48.5%;
   height: 100%;
}

.lineHorizontalSeparator {
   position: absolute;
   top: 50%;
   left: 45.7%;
   width: 3%;
   border-top: 2px solid black;
   z-index: 2;
}

.lineSeparator {
   width: 1%;
   height: 100%;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   border-left: 2px solid black;
}
