* {
   margin: 0;
   padding: 0;
}

.popupSectionBlock {
   width: 100%;
   box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
   background-color: #ffffff;
}

.popupSectionHeader {
   height: 20px;
   width: 100%;
   display: flex;
   margin-top: 25px;
}

.popupSectionFullName {
   font-size: 15px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: -0.5px;
   color: #000000;
}

.popupSectionNickDate {
   font-size: 15px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: -0.5px;
   color: #42576a;
   margin-left: 10px;
}

.popupSectionTweet {
   font-size: 15px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #000000;
   padding: 10px 0 10px 0;
}

.popupSectionTweet:hover {
   color: #000000;
}