* {
   margin: 0;
   padding: 0;
}

.analytics-page {
  background: #fff;
}

.topWrapper {
   width: 100%;
   background-color: #ffffff;
   padding-bottom: 60px;
   width: 1136px;
   margin: 0 auto;
}

.topAllNewsWrapper, .topManipulativeNewsWrapper {
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.topManipulativeNewsWrapper {
  margin-top: 60px;
}

.topNewsWrapper {
   width: 44%;
   height: 100%;
}

.influencersTrollsMentionedWrapper {
   padding-top: 60px;
   margin: 0 auto;
}

.dropdownWrapper {
   position: relative;
   max-width: 1440px;
   margin: 0 auto;
}

.influencersMentionedWrapper {
   padding-top: 60px;
   margin: 0 auto;
   display: flex;
}
