* {
   margin: 0;
   padding: 0;
}

.timeDropdownWrapper {
   margin: -11px 0 0 20px;
   position: absolute;
   z-index: 5;
}

.topWrapper {
   width: 100%;
   min-height: 2755px;
   background-color: #ffffff;
   padding-bottom: 60px;
}

.topAllNewsWrapper {
   height: 600px;
   position: relative;
   top: 59px;
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.topNewsWrapper {
   width: 44%;
   height: 100%;
}

.influencersTrollsMentionedWrapper {
   height: 620px;
   position: relative;
   top: 135px;
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
}

.dropdownWrapper {
   position: relative;
   max-width: 1440px;
   margin: 0 auto;
}

/* .spinnerWrapper {
   position: absolute;
   background: black;
   height: 2500px;
} */
.spinner-border {
   position: absolute;
   top: 50%;
   left: 50%;
}
.spinnerWrapper {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(255,255,255,0.9);
   z-index: 100;
}

.influencersMentionedWrapper {
   height: 620px;
   position: relative;
   top: 244px;
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
}
