* {
   margin: 0;
   padding: 0;
}

.footerContainer {
   width: 1440px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
}

.footerContainer p {
   margin-top: 2px;
   width: 220px;
   opacity: 0.45;
   font-size: 14px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: center;
   color: #ffffff;
}

.FooterLogo {
   width: 94px;
}
