body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Proxima Nova",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
  /*font-family: "Proxima Nova";*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 0 !important;
}

input {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

button {
  outline: none !important;
}


/*Removed watermarks from all charts*/
.trollsPieChart g [aria-labelledby=id-268-title] {
  display: none !important;
}

.trollsNewsChart g [aria-labelledby=id-355-title] {
  display: none !important;
}

.trollsLinearChartContainer g [aria-labelledby=id-442-title] {
  display: none !important;
}

.topTrollsWorld g [aria-labelledby=id-575-title] {
  display: none !important;
}

.topTrollsGender g [aria-labelledby=id-663-title] {
  display: none !important;
}

.topTrollsAge g [aria-labelledby=id-826-title] {
  display: none !important;
}