html {
  margin: 0;
  padding: 0;
  height: 100%;

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "proxima-nova", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    p {
      margin-bottom: 0 !important;
    }

    input {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }

    button {
      outline: none !important;
    }

    /*Removed watermarks from all charts*/
    g[aria-labelledby$='-title'] {
      display: none !important;
    }
  }
}
