.date-picker {
  margin-top: 30px;
  height: auto;
  min-height: 280px;
  width: 100%;

  .daterangepicker {
    border: none !important;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    &:before {
      display: none;
    }

    .drp-calendar {
      display: flex !important;
      width: 48% !important;
      max-width: 100% !important;
      padding: 0 !important;

      &+ .drp-calendar {
        margin-left: 4% !important;
      }

      .calendar-table {
        padding: 0;
        width: 100%;

        thead {
          tr {
            &:first-child {
              font-size: 14px !important;
              font-weight: 900 !important;
              font-style: normal !important;
              font-stretch: normal !important;
              line-height: normal !important;
              letter-spacing: -0.11px !important;
              color: #1f1f1f !important;
            }

            &:last-child {
              font-size: 14px !important;
              font-weight: bold !important;
              font-style: normal !important;
              font-stretch: normal !important;
              line-height: normal !important;
              letter-spacing: -0.11px !important;
              color: #1f1f1f !important;
            }

            .month {
              text-align: right !important;
              text-transform: uppercase;
            }
          }
        }

        tbody {
          td {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.13px;
            color: #000000;
            padding: 8px 10px 7px;
            text-align: center;
            border-radius: 0;

            &.active {
              background-color: #1f1f1f;
              color: #ffffff;
            }

            &.off {
              visibility: hidden;
            }

            &.in-range {
              background-color: rgba(#1f1f1f, 0.1);

              &.end-date {
                background-color: #1f1f1f;
                color: #ffffff;
              }

              &+.available:not(.in-range) {
                background-color: #1f1f1f;
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    .ranges {
      display: none;
    }

    .drp-buttons {
      margin: 0;
      padding: 0;
      border: none;

      .drp-selected {
        display: none;
      }

      .cancelBtn {
        display: none;
      }

      .applyBtn {
        width: 128px;
        border: 2px solid #000000;
        border-radius: 0;
        padding: 6px 0;
        text-align: center;
        background-color: transparent;
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;

        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
  }
}
