@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
}
